
   <%- include("partials/header.ejs") %>
   
   <div class="min-vh-100 d-flex justify-content-center align-items-center" 
     style="background: linear-gradient(to right, #ececec, #ececec);">
  <div class="card shadow-sm "style="width: 600px; background-color: rgba(255,255,255,0.95);">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Add New Book</h4>
    </div>
    <div class="card-body bg-grey">
      <form action="/book/new" method="POST" id="addBook">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Enter book title" required>
        </div>
        <div class="mb-3">
          <label for="author" class="form-label">Author</label>
          <input type="text" class="form-control" id="author" name="author" placeholder="Enter author name" required>
        </div>

        <div class="mb-3">
          <label for="note" class="form-label">Notes</label>
          <textarea class="form-control" id="note" name="note" placeholder="Enter your notes" rows="3"></textarea>
        </div>

        <div class="mb-3">
          <label for="rating" class="form-label">Rating</label>
          <input type="number" class="form-control" id="rating" name="rating" placeholder="Enter rating (1-10)" min="1" max="10" required>
        </div>

        <div class="mb-3">
          <label for="isbn" class="form-label">ISBN</label>
          <input type="text" class="form-control" id="isbn" name="isbn" placeholder="Enter ISBN">
        </div>

        <div class="mb-3">
          <label for="read_date" class="form-label">Read Date</label>
          <input type="date" class="form-control" id="read_date" name="read_date">
        </div>
        
        <div class="mb-3">
          <label for="description" class="form-label">Discription</label>
          <textarea type="text" class="form-control" id="description" name="description" placeholder="Enter Description"></textarea>
        </div>

        <button type="submit" class="btn btn-success w-100">Add Book</button>
      </form>
    </div>
  </div>
</div>

  <%- include("partials/footer.ejs") %>