 body{
    padding-top: 56px;
 }

 h1{
    margin-top: 150px !important;
    margin-left: 230PX;
 }
 
   
 #book {
    max-width: 40em;
    margin: 0 auto;
    padding: 5px;
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 30px;
    background-color: #fff;
    color: #570f0f;
}
.nav-item{
    padding: 15px;
}


.sort-book{
    margin-top: 120px;
}

.Date-Read{
    font-family: 'Roboto', sans-serif;
}
#textNote{
    max-width: 40em;
    padding: 5px;
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 2;
    background-color: #fff;
    color: #570f0f;
}